@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Dunkin Sans";
  src: url("../fonts/Dunkin Sans.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 1464px) {
  .responsive-image {
    display: none;
  }
}
@media (max-width: 786px) {
  .responsive-image {
    display: block;
  }
}
.sub-color {
  color: #c43663;
}

.main-color {
  color: #f06a00;
}

.bold {
  font-weight: bold;
}

.pad {
  padding: 10px 0;
}

.fixed {
  width: clamp(55px, 4.98vw, 73px);
  position: fixed;
  right: 3%;
  bottom: 3%;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.fixed ul {
  background-color: #f06a00;
  width: 100%;
  border-radius: clamp(9px, 0.81vw, 12px);
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 2px 1px rgb(221, 221, 221);
}
.fixed li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(10px, 0.88vw, 13px);
  padding-top: clamp(10px, 0.95vw, 14px);
}
.fixed li span {
  margin-top: 8px;
}
.fixed li:after {
  content: "";
  background-color: white;
  width: 33%;
  height: 1px;
  margin-top: 10px;
}
.fixed li:nth-of-type(3):after {
  content: "";
  background-color: white;
  width: 0;
  height: 1px;
  margin-top: 10px;
}
.fixed button {
  all: unset;
  background-color: white;
  margin-top: 20px;
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 2px 1px rgb(221, 221, 221);
}
.fixed button a {
  width: 100%;
  display: flex;
  justify-content: center;
}
.fixed button img {
  width: 30%;
}

.max-w {
  margin: 0 auto;
  width: 95vw;
  max-width: 1464px;
  margin: 0 auto;
  padding: 32px 0;
  font-family: "Pretendard";
  color: #3d332e;
  position: relative;
}
@media screen and (max-width: 768px) {
  .max-w {
    width: 85vw;
  }
}
.max-w address {
  font-size: 12px;
}
.max-w h5 {
  font-size: 14px;
  color: rgba(61, 51, 46, 0.5019607843);
  font-family: "Dunkin Sans";
}
@media screen and (max-width: 976px) {
  .max-w .f-l {
    width: 100%;
  }
}
.max-w .f-l img {
  padding-bottom: 20px;
}
.max-w .f-l .text {
  line-height: 1.5rem;
}
@media screen and (max-width: 786px) {
  .max-w .f-l .text {
    margin-top: 50px;
  }
}
.max-w .f-r {
  width: 46.5%;
  font-size: 12px;
  text-align: right;
}
.max-w .f-r a {
  cursor: pointer;
}
@media screen and (max-width: 976px) {
  .max-w .f-r {
    display: none;
  }
}
.max-w .f-r h5 {
  padding-bottom: 10px;
}
.max-w .f-r li {
  padding: 5px 0;
}
.max-w .login {
  display: flex;
  cursor: pointer;
  font-size: 14px;
}
.max-w .login li {
  border-left: 1px solid #d8d6d5;
  padding-left: 10px;
  margin-left: 10px;
}
.max-w .sns {
  display: flex;
  gap: 16px;
  opacity: 0.5;
}
.max-w .sns a {
  cursor: pointer;
}
@media screen and (max-width: 786px) {
  .max-w .sns {
    position: absolute;
    top: 70px;
  }
}
.max-w .login li:nth-of-type(1) {
  color: #f06a00;
  margin: 0;
  padding: 0;
  border: none;
}
.max-w .policy {
  border-top: 1px solid #d8d6d5;
  padding-top: 15px;
  font-size: 14px;
  gap: 50px;
}
@media screen and (max-width: 786px) {
  .max-w .policy {
    flex-direction: column-reverse;
    gap: 10px;
    align-items: baseline;
  }
}
.max-w .policy .radio {
  position: relative;
  width: 185px;
  padding: 15px 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 30px;
  border: 1px solid #d8d6d5;
  flex-shrink: 0;
}
@media (max-width: 976px) {
  .max-w .policy .radio {
    position: absolute;
    top: 20px;
    right: 0;
  }
}
.max-w .terms {
  flex-wrap: wrap;
  display: flex;
}
.max-w .terms li {
  padding: 5px 10px 5px 0;
}
.max-w .terms a {
  cursor: pointer;
}

.space-b {
  display: flex;
  justify-content: space-between;
}

.align-c {
  display: flex;
  align-items: center;
}/*# sourceMappingURL=footer.css.map */