@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Dunkin Sans";
  src: url("../fonts/Dunkin Sans.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 1464px) {
  .responsive-image {
    display: none;
  }
}
@media (max-width: 786px) {
  .responsive-image {
    display: block;
  }
}
.sub-color {
  color: #c43663;
}
.main-color {
  color: #f06a00;
}
.bold {
  font-weight: bold;
}
.pad {
  padding: 10px 0;
}

$sub-color: #c43663;
$main-color: #f06a00;
$espresso: #d8d6d5;
.fixed {
  width: clamp(55px, 4.98vw, 73px);
  position: fixed;
  right: 3%;
  bottom: 3%;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  ul {
    background-color: $main-color;
    width: 100%;
    border-radius: clamp(9px, 0.81vw, 12px);
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 3px 3px rgb(221, 221, 221);
  }
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(10px, 0.88vw, 13px);
    padding-top: clamp(10px, 0.95vw, 14px);
    span {
      margin-top: 8px;
    }
  }
  li:after {
    content: "";
    background-color: white;
    width: 33%;
    height: 1px;
    margin-top: 10px;
  }
  li:nth-of-type(3):after {
    content: "";
    background-color: white;
    width: 0;
    height: 1px;
    margin-top: 10px;
  }
  button {
    all: unset;
    background-color: white;
    margin-top: 20px;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 3px 3px rgb(221, 221, 221);
    a {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    img {
      width: 30%;
    }
  }
}
.max-w {
  margin: 0 auto;
  width: 95vw;
  max-width: 1464px;
  margin: 0 auto;
  padding: 32px 0;
  font-family: "Pretendard";
  color: #3d332e;
  position: relative;
  @media screen and (max-width: 768px) {
    width: 85vw;
  }
  address {
    font-size: 12px;
  }
  h5 {
    font-size: 14px;
    color: #3d332e80;
    font-family: "Dunkin Sans";
  }
  .f-l {
    @media screen and (max-width: 976px) {
      width: 100%;
    }
    img {
      padding-bottom: 20px;
    }
    .text {
      line-height: 1.5rem;
      @media screen and (max-width: 786px) {
        margin-top: 50px;
      }
    }
  }
  .f-r {
    width: 46.5%;
    font-size: 12px;
    text-align: right;
    a {
      cursor: pointer;
    }
    @media screen and (max-width: 976px) {
      display: none;
    }
    h5 {
      padding-bottom: 10px;
    }
    li {
      padding: 5px 0;
    }
  }

  .login {
    display: flex;
    cursor: pointer;
    font-size: 14px;
    li {
      border-left: 1px solid $espresso;
      padding-left: 10px;
      margin-left: 10px;
    }
  }
  .sns {
    display: flex;
    gap: 16px;
    opacity: 0.5;
    a {
      cursor: pointer;
    }
    @media screen and (max-width: 786px) {
      position: absolute;
      top: 70px;
    }
  }

  .login li:nth-of-type(1) {
    color: $main-color;
    margin: 0;
    padding: 0;
    border: none;
  }
  .policy {
    border-top: 1px solid $espresso;
    padding-top: 15px;
    font-size: 14px;
    gap: 50px;
    @media screen and (max-width: 786px) {
      flex-direction: column-reverse;
      gap: 10px;
      align-items: baseline;
    }
    .radio {
      position: relative;
      width: 185px;
      padding: 15px 20px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 30px;
      border: 1px solid $espresso;
      flex-shrink: 0;
      @media (max-width: 976px) {
        position: absolute;
        top: 20px;
        right: 0;
      }
    }
  }
  .terms {
    flex-wrap: wrap;
    display: flex;
    li {
      padding: 5px 10px 5px 0;
    }
    a {
      cursor: pointer;
    }
  }
}
.space-b {
  display: flex;
  justify-content: space-between;
}
.align-c {
  display: flex;
  align-items: center;
}
