@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Dunkin Sans";
  src: url("../fonts/Dunkin Sans.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
$header-height: clamp(60px, 6vw, 92px);
$sub-color: #c43663;
$main-color: #f06a00;
$max-width: 1464px;
* {
  box-sizing: border-box;
}
body {
  font-family: "Dunkin Sans", "Pretendard";
}
body.no-scroll {
  overflow: hidden;
}

a {
  all: unset;
}
header {
  width: 100%;
  position: sticky;
  top: 0;
  background: url(../img/header_bg-63efc11c.png);
  background-position: bottom;
  height: $header-height;
  z-index: 10;
  // max-width헤더
  .m_h {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    height: $header-height;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    word-spacing: -5px;
    font-weight: 900;
    position: relative;
    font-size: clamp(16px, 1.36vw, 20px);
    @media screen and (max-width: 976px) {
      display: none;
    }
    // nav depth
    .depth {
      position: absolute;
      top: $header-height;
      width: calc(100vw - 17px);
      height: 0;
      background-color: rgba(252, 252, 252, 0.6);
      transition: height 0.3s ease;
      font-size: 1rem;
    }
    nav {
      width: 100%;
      display: flex;
      justify-content: space-around;
      .side_nav {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        @media screen and (min-width: 1360px) {
          font-size: 1.2rem;
        }
      }
      .right ul {
        left: 65%;
      }
      // nav button--------------------------------
      button {
        all: unset;
        cursor: pointer;
        padding: 40px 5px;
        &:hover div {
          color: $sub-color;
        }
        &:hover li {
          color: initial;
        }
        ul {
          position: absolute;
          top: $header-height;
          line-height: 50px;
          display: flex;
          height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease;
          li {
            padding: 0 20px;
            font-family: "Pretendard-Regular";
            &:hover {
              color: $sub-color;
            }
          }
        }
      }
      .e_ship {
        background-color: $sub-color;
        color: white;
        padding: 8px 20px 8px 5px;
        border-radius: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgb(185, 185, 185);
        @media screen and (max-width: 1360px) {
          padding: 4px 10px 4px 5px;
          font-size: 0.8rem;
        }
        &:hover .material-symbols-outlined {
          transform: translateX(1px);
        }
        .material-symbols-outlined {
          font-size: 20px;
          position: relative;
          padding-right: 5px;
          font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
        }
      }
      // ---------------------------------------------------------
    }
    h1 {
      height: $header-height;
      position: relative;
      top: 5%;
      z-index: 2;
      img {
        height: 100%;
      }
    }
  }
  .s_h {
    width: 100%;
    max-width: 1920px;
    height: $header-height;
    display: flex;
    justify-content: center;
    @media screen and (min-width: 977px) {
      display: none;
    }
    h1 {
      position: relative;
      top: 5%;
      z-index: 2;
    }
    .material-symbols-outlined {
      font-size: 28px;
    }
    .h_menu,
    .close {
      line-height: 60px;
      position: absolute;
      right: 10px;
    }
    img {
      height: 100%;
    }
    nav {
      position: absolute;
      top: $header-height;
      width: 100%;
      height: 0;
      background-color: white;
      overflow: hidden;
      color: #3d332e;
      transition-duration: 0.5s;
      padding: 0 50px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 10px;
        opacity: 0;
      }

      &:hover {
        &::-webkit-scrollbar {
          opacity: 1;
        }

        &::-webkit-scrollbar-thumb {
          background: rgb(238, 238, 238);
          border-radius: 12px;
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }
      }
      button {
        all: unset;
        width: 100%;
        padding: 20px 0;
        font-size: 24px;
        font-weight: bold;
        border-bottom: 1px solid rgb(228, 228, 228);
        cursor: pointer;
        &:nth-last-child(1) {
          cursor: default;
          a,
          img {
            cursor: pointer;
          }
        }
        &:nth-of-type(1) {
          margin-top: 50px;
        }
        .off {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 10px 0;
        }
        .link {
          width: 150px;
          display: flex;
          justify-content: space-between;
        }

        a {
          color: white;
          background-color: $main-color;
          border-radius: 30px;
          font-size: 14px;
          line-height: 34px;
          padding: 0 20px;
        }
        .material-symbols-outlined {
          font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
          font-size: 20px;
          transition: transform 0.3s ease;
          transform: rotate(90deg);
        }
        .active .arcodion {
          height: auto;
        }

        .rotate-270 {
          transform: rotate(270deg);
        }
        .arcodion {
          position: relative;
          height: 0;
          overflow: hidden;
          transition: 0.3s ease;
          margin: 0 10px;
          font-size: 16px;
          font-family: "Pretendard-Regular";
          li {
            padding: 10px;
          }
        }
      }
    }
  }
}
