@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Dunkin Sans";
  src: url("../fonts/Dunkin Sans.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Dunkin Sans Bold";
  src: url("../fonts/Dunkin\ Sans\ Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
$header-height: clamp(60px, 6vw, 92px);
$sub-color: #c43663;
$main-color: #f06a00;
$text-color: #3d332e;
$max-width: 1464px;

* {
  box-sizing: border-box;
}
body {
  font-family: "Pretendard-Regular", "Dunkin Sans";
}
body.no-scroll {
  overflow: hidden;
}
.up1444 {
  @media screen and (max-width: 1444px) {
    display: none;
  }
}
.up977 {
  @media screen and (max-width: 977px) {
    display: none;
  }
}
h2 {
  width: 70%;
  margin: 0 auto;
  font-size: clamp(40px, 3.41vw, 50px);
  font-family: "Dunkin Sans Bold";
  color: $main-color;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  word-spacing: -1rem;
}
h3 {
  width: 70%;
  margin: 0 auto;
  font-size: clamp(14px, 5vw, 20px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  color: $text-color;
  margin-top: 12px;
}
.main_banner {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: url(../img/top-bg-63cd294e.png);
  @media screen and (min-width: 768px) {
    padding: 30px;
  }
  .frame_box {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
  }
  .butter {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: 7vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @media screen and (max-width: 767px) {
      padding: 6vw;
    }
    .main_img {
      width: 100%;
      border-radius: clamp(40px, 5vw, 80px);
      @media screen and (max-width: 767px) {
        border-radius: 7vw;
      }
      @media screen and (max-width: 1023px) {
        border-radius: 9vw;
      }
      @media screen and (max-width: 1600px) {
        border-radius: 8vw;
      }
    }
  }
  .frame {
    width: 100%;
    display: block;
    position: absolute;
  }
  .product {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    word-spacing: -0.5rem;
    h5 {
      text-align: center;
      @media screen and (min-width: 768px) {
        font-size: 16px;
      }
    }
    @media screen and (min-width: 768px) {
      position: absolute;
      width: 36%;
      gap: 10px;
      right: 4%;
      font-size: 20px;
    }
    @media screen and (min-width: 1024px) {
      position: absolute;
      padding: 0;
      width: 25%;
      max-width: 400px;
      right: 3%;
    }
    @media screen and (min-width: 1444px) {
      padding: 10px;
      font-size: 24px;
    }
    .p_slide {
      width: 100%;
      aspect-ratio: 372/394;
      background-color: #ffea8c;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      flex-direction: column;
      color: #c79018;
      .flicking-camera {
        width: 90%;
        height: 90%;
        .panel {
          gap: 5px;
          img {
            width: 80%;
          }
        }
      }
      .flicking-pagination {
        width: 100%;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }
      .flicking-pagination-bullet {
        background-color: #c79018;
      }
      .flicking-pagination-bullet-active {
        background-color: #8f5300;
      }
      span {
        color: #8f5300;
        font-weight: 800;
      }
    }
    .month {
      background-color: $sub-color;
      padding: 3% 0;
      color: white;
      border-radius: 30px;
      width: 100%;
      text-align: center;

      @media screen and (min-width: 768px) {
        padding: 4% 0;
        font-size: clamp(10px, 1.7vw, 25px);
      }
      .material-symbols-outlined {
        font-size: clamp(10px, 1.7vw, 25px);
        font-weight: bold;
        position: relative;
        top: 2px;
      }
    }
    .beverage {
      width: 100%;
      border-radius: 30px;
      padding: 0 5%;
      background-color: #fff9d5;
      @media screen and (min-width: 768px) {
        font-size: 0.9em;
      }
      .flicking-camera {
        align-items: center;
      }
      .flicking-pagination-bullet {
        position: absolute;
        bottom: 20px;
        left: 10px;
      }
      .panel {
        display: flex;
        flex-direction: row;
        color: #5e4a2b;
        font-weight: 800;
        img {
          width: 100%;
        }

        div:nth-of-type(2) {
          width: 50%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
.event {
  padding-top: clamp(50px, 6.14vw, 90px);
  padding-bottom: clamp(60px, 6.83vw, 100px);
  background-color: #f8f4f1;

  img {
    box-shadow: 2px 2px 5px 3px rgb(197, 197, 197);
  }
  .e-box {
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 1464px;
    margin-top: 20px;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .gradient {
    width: 18%;
    z-index: 2;
    height: 100%;
    position: absolute;
    background: linear-gradient(
      to right,
      #f8f4f1 0%,
      #f8f4f1 20%,
      rgba(248, 244, 241, 0) 100%
    );
  }
  .gradient-r {
    width: 18%;
    right: 0;
    z-index: 2;
    height: 100%;
    position: absolute;
    background: linear-gradient(
      to left,
      #f8f4f1 0%,
      #f8f4f1 20%,

      rgba(248, 244, 241, 0) 100%
    );
  }
  .e-s-box {
    margin: 0 auto;
    width: 100%;
    max-width: 1464px;
    margin-top: 20px;
    position: relative;
    @media screen and (min-width: 767px) {
      display: none;
    }
  }
  .panel {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-user-drag: none;
    }
  }
  .panel img {
    width: 90%;
    border-radius: 30px;
    cursor: pointer;
    -webkit-user-drag: none;
  }
  .panel:nth-of-type(2) img {
    width: 100%;
  }
  .flicking-pagination-bullet {
    background-color: gray;
  }
  .flicking-pagination-bullet-active {
    background-color: #c43663;
  }

  .flicking-pagination {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
.menu {
  padding-top: clamp(50px, 6.14vw, 90px);
  padding-bottom: clamp(60px, 6.83vw, 100px);
  .m_list {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
  }
  #menu-carousel {
    @media screen and (min-width: 1445px) {
      display: none;
    }
  }
  .flicking-viewport {
    padding: 40px 10px;
    @media screen and (max-width: 769px) {
      padding: 40px 40px;
    }
  }
  .flicking-pagination {
    width: 100%;
    height: 100px;
    @media screen and (min-width: 1445px) {
      display: none;
    }
  }
  .panel {
    width: 18%;
    margin: 0 10px;
    border-radius: 20px;
    background-color: #f8f4f1;
    box-shadow: 2px 2px 5px 2px rgb(197, 197, 197);
    a {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      div {
        width: 100%;
        border-radius: 20px;
      }
      h4 {
        padding: 20px 0;
        font-size: 20px;
      }
      img {
        transition-duration: 0.7s;
      }
      img:hover {
        transform: scale(1.1);
      }
    }

    @media screen and (max-width: 1445px) {
      width: calc(25% - 20px);
    }
    @media screen and (max-width: 977px) {
      width: calc(50% - 20px);
    }
    @media screen and (max-width: 769px) {
      width: 100%;
    }
  }
}
.w_dunkin {
  padding-top: clamp(50px, 6.14vw, 90px);
  padding-bottom: clamp(60px, 6.83vw, 100px);
  background-color: #f8f4f1;

  .width {
    width: 100%;
    max-width: 1092px;
    margin: 0 auto;
  }
  .flicking-viewport {
    padding: 40px 0;
    @media screen and (max-width: 977px) {
      padding: 40px;
    }
  }
  #w-carousel {
    @media screen and (min-width: 978px) {
      display: none;
    }
  }
  .panel {
    width: calc(33% - 20px);
    margin: 0 10px;
    border-radius: 30px;
    box-shadow: 2px 2px 5px 2px rgb(197, 197, 197);
    background-color: #ffffff;
    a {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      div {
        width: 96%;
        border-radius: 30px;
        margin: 2%;
        overflow: hidden;
      }
      h4 {
        padding-top: 20px;
        font-size: 36px;
      }
      h5 {
        padding: 18px 0;
        font-size: 18px;
      }
      img {
        transition-duration: 0.7s;
      }
      img:hover {
        transform: scale(1.1);
      }
    }

    @media screen and (max-width: 977px) {
      width: calc(70% - 20px);
    }
    @media screen and (max-width: 769px) {
      width: 100%;
    }
  }

  .flicking-pagination {
    height: 100px;
    @media screen and (min-width: 978px) {
      display: none;
    }
  }
}
