.max-w {
  margin: 0 auto;
  width: 100%;
  max-width: 1700px;
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  font-family: sans-serif;
  font-size: 12px;
  h5 {
    font-size: 16px;
  }
  .f-r {
    width: 800px;
  }
}
.space-b {
  display: flex;
  justify-content: space-between;
}
