.flicking-camera {
  display: flex;
  align-items: center;
}
.flicking-viewport {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-drag: none;
  }

  img {
    width: 70%;
    border-radius: 30px;
    cursor: pointer;
    -webkit-user-drag: none;
  }
}
.flicking-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #808080;
}
.flicking-pagination-bullet-active {
  width: 20px;
  height: 8px;
  border-radius: 10px;
  background-color: #c43663;
}
