@font-face {
  font-family: "Pretendard";
  src: url("./fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Dunkin Sans";
  src: url("./fonts/Dunkin Sans.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
$header-height: clamp(60px, 6vw, 92px);
$sub-color: #c43663;
$main-color: #fc7823;
$max-width: 1464px;
* {
  box-sizing: border-box;
}
body {
  font-family: "Pretendard-Regular", "Dunkin Sans";
}
body.no-scroll {
  overflow: hidden;
}

a {
  all: unset;
}

.main_banner {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: url(./img/top-bg-63cd294e.png);
  @media screen and (min-width: 768px) {
    padding: 30px;
  }
  .frame_box {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
  }
  .butter {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: 7vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @media screen and (max-width: 767px) {
      padding: 6vw;
    }
    img {
      width: 100%;
      border-radius: 4vw;
      @media screen and (max-width: 767px) {
        border-radius: 7vw;
      }
      @media screen and (max-width: 1023px) {
        border-radius: 9vw;
      }
      @media screen and (max-width: 1600px) {
        border-radius: 8vw;
      }
    }
  }
  .frame {
    width: 100%;
    display: block;
    position: absolute;
    z-index: 2;
  }
  .product {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    word-spacing: -0.5rem;
    h3 {
      font-size: 20px;
      text-align: center;
      @media screen and (min-width: 768px) {
        font-size: 16px;
      }
    }
    @media screen and (min-width: 768px) {
      position: absolute;
      width: 33vw;
      height: 88%;
      gap: 10px;
      right: 5%;
      font-size: 20px;
    }
    @media screen and (min-width: 1024px) {
      position: absolute;
      padding: 0;
      width: 22vw;
      max-width: 400px;
      right: 3%;
    }
    @media screen and (min-width: 1444px) {
      font-size: 24px;
    }
    .p_slide {
      width: 100%;
      aspect-ratio: 1/1;
      background-color: #ffea8c;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      flex-direction: column;
      padding: 10%;
      color: #c79018;
      @media screen and (min-width: 768px) {
        padding: 5%;
      }
      span {
        color: #8f5300;
        font-weight: 800;
      }

      img {
        width: 78%;
      }
    }
    .month {
      background-color: $sub-color;
      padding: 16px 0;
      color: white;
      border-radius: 30px;
      width: 100%;
      text-align: center;
      font-size: 0.9em;
    }
    .beverage {
      width: 100%;
      display: flex;
      align-items: center;
      border-radius: 30px;
      padding: 5%;
      background-color: #fff9d5;
      @media screen and (min-width: 768px) {
        font-size: 0.9em;
      }
      .beverage_title {
        color: #5e4a2b;
        font-weight: 800;
      }
      div {
        width: 50%;
      }
      img {
        width: 100%;
      }
    }
  }
}
.event {
  height: 1000px;
  background-color: gray;
}
