@font-face {
  font-family: "Pretendard";
  src: url("./fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Dunkin Sans";
  src: url("./fonts/Dunkin Sans.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Dunkin Sans Bold";
  src: url("./fonts/Dunkin Sans Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
.up1024 {
  display: block;
}
@media screen and (max-width: 1444px) {
  .up1024 {
    display: none;
  }
}

@media screen and (min-width: 1444px) {
  .down1024 {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard-Regular", "Dunkin Sans";
}

body.no-scroll {
  overflow: hidden;
}

h2 {
  width: 70%;
  margin: 0 auto;
  font-size: clamp(40px, 3.41vw, 50px);
  font-family: "Dunkin Sans Bold";
  color: #f06a00;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  word-spacing: -1rem;
}

h3 {
  width: 70%;
  margin: 0 auto;
  font-size: clamp(14px, 5vw, 20px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  color: #3d332e;
  margin-top: 12px;
}

.main_banner {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: url(./img/top-bg-63cd294e.png);
}
@media screen and (min-width: 768px) {
  .main_banner {
    padding: 30px;
  }
}
.main_banner .frame_box {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}
.main_banner .butter {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 7vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .main_banner .butter {
    padding: 6vw;
  }
}
.main_banner .butter .main_img {
  width: 100%;
  border-radius: clamp(40px, 5vw, 80px);
}
@media screen and (max-width: 767px) {
  .main_banner .butter .main_img {
    border-radius: 7vw;
  }
}
@media screen and (max-width: 1023px) {
  .main_banner .butter .main_img {
    border-radius: 9vw;
  }
}
@media screen and (max-width: 1600px) {
  .main_banner .butter .main_img {
    border-radius: 8vw;
  }
}
.main_banner .frame {
  width: 100%;
  display: block;
  position: absolute;
}
.main_banner .product {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  word-spacing: -0.5rem;
}
.main_banner .product h5 {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .main_banner .product h5 {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .main_banner .product {
    position: absolute;
    width: 36%;
    gap: 10px;
    right: 4%;
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .main_banner .product {
    position: absolute;
    padding: 0;
    width: 25%;
    max-width: 400px;
    right: 3%;
  }
}
@media screen and (min-width: 1444px) {
  .main_banner .product {
    padding: 10px;
    font-size: 24px;
  }
}
.main_banner .product .p_slide {
  width: 100%;
  aspect-ratio: 372/394;
  background-color: #ffea8c;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
  color: #c79018;
}
.main_banner .product .p_slide .flicking-camera {
  width: 90%;
  height: 90%;
}
.main_banner .product .p_slide .flicking-camera .panel {
  gap: 5px;
}
.main_banner .product .p_slide .flicking-camera .panel img {
  width: 80%;
}
.main_banner .product .p_slide .flicking-pagination {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.main_banner .product .p_slide .flicking-pagination-bullet {
  background-color: #c79018;
}
.main_banner .product .p_slide .flicking-pagination-bullet-active {
  background-color: #8f5300;
}
.main_banner .product .p_slide span {
  color: #8f5300;
  font-weight: 800;
}
.main_banner .product .month {
  background-color: #c43663;
  padding: 3% 0;
  color: white;
  border-radius: 30px;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .main_banner .product .month {
    padding: 4% 0;
    font-size: clamp(10px, 1.7vw, 25px);
  }
}
.main_banner .product .beverage {
  width: 100%;
  border-radius: 30px;
  padding: 0 5%;
  background-color: #fff9d5;
}
@media screen and (min-width: 768px) {
  .main_banner .product .beverage {
    font-size: 0.9em;
  }
}
.main_banner .product .beverage .flicking-camera {
  align-items: center;
}
.main_banner .product .beverage .flicking-pagination-bullet {
  position: absolute;
  bottom: 20px;
  left: 10px;
}
.main_banner .product .beverage .panel {
  display: flex;
  flex-direction: row;
  color: #5e4a2b;
  font-weight: 800;
}
.main_banner .product .beverage .panel img {
  width: 100%;
}
.main_banner .product .beverage .panel div:nth-of-type(2) {
  width: 50%;
  display: flex;
  justify-content: center;
}

.event {
  padding-top: clamp(50px, 6.14vw, 90px);
  padding-bottom: clamp(60px, 6.83vw, 100px);
  background-color: #f8f4f1;
}
.event img {
  box-shadow: 2px 2px 5px 3px rgb(197, 197, 197);
}
.event .e-box {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 1464px;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .event .e-box {
    display: none;
  }
}
.event .gradient {
  width: 18%;
  z-index: 2;
  height: 100%;
  position: absolute;
  background: linear-gradient(to right, #f8f4f1 0%, #f8f4f1 20%, rgba(248, 244, 241, 0) 100%);
}
.event .gradient-r {
  width: 18%;
  right: 0;
  z-index: 2;
  height: 100%;
  position: absolute;
  background: linear-gradient(to left, #f8f4f1 0%, #f8f4f1 20%, rgba(248, 244, 241, 0) 100%);
}
.event .e-s-box {
  margin: 0 auto;
  width: 100%;
  max-width: 1464px;
  margin-top: 20px;
  position: relative;
}
@media screen and (min-width: 767px) {
  .event .e-s-box {
    display: none;
  }
}
.event .panel {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.event .panel a {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-drag: none;
}
.event .panel img {
  width: 90%;
  border-radius: 30px;
  cursor: pointer;
  -webkit-user-drag: none;
}
.event .panel:nth-of-type(2) img {
  width: 100%;
}
.event .flicking-pagination-bullet {
  background-color: gray;
}
.event .flicking-pagination-bullet-active {
  background-color: #c43663;
}
.event .flicking-pagination {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.menu {
  padding-top: clamp(50px, 6.14vw, 90px);
  padding-bottom: clamp(60px, 6.83vw, 100px);
}
.menu .m_list {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.menu .flicking-viewport {
  padding: 40px 10px;
}
@media screen and (max-width: 769px) {
  .menu .flicking-viewport {
    padding: 40px 40px;
  }
}
.menu .flicking-pagination {
  width: 100%;
  height: 100px;
}
@media screen and (min-width: 1445px) {
  .menu .flicking-pagination {
    display: none;
  }
}
.menu .panel {
  width: 18%;
  margin: 0 10px;
  border-radius: 20px;
  background-color: #f8f4f1;
  box-shadow: 2px 2px 5px 2px rgb(197, 197, 197);
}
.menu .panel a {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu .panel a div {
  width: 100%;
  border-radius: 20px;
}
.menu .panel a h4 {
  padding: 20px 0;
  font-size: 20px;
}
.menu .panel a img {
  transition-duration: 0.7s;
}
.menu .panel a img:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 1445px) {
  .menu .panel {
    width: calc(25% - 20px);
  }
}
@media screen and (max-width: 977px) {
  .menu .panel {
    width: calc(50% - 20px);
  }
}
@media screen and (max-width: 769px) {
  .menu .panel {
    width: 100%;
  }
}

.w_dunkin {
  padding-top: clamp(50px, 6.14vw, 90px);
  padding-bottom: clamp(60px, 6.83vw, 100px);
  background-color: #f8f4f1;
}
.w_dunkin .width {
  width: 100%;
  max-width: 1092px;
  margin: 0 auto;
}
.w_dunkin #w-carousel {
  padding: 40px 0;
}
.w_dunkin .panel {
  width: calc(33% - 20px);
  margin: 0 10px;
  border-radius: 30px;
  box-shadow: 2px 2px 5px 2px rgb(197, 197, 197);
  background-color: #ffffff;
}
.w_dunkin .panel a {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.w_dunkin .panel a div {
  width: 96%;
  border-radius: 30px;
  margin: 2%;
  overflow: hidden;
}
.w_dunkin .panel a h4 {
  padding-top: 20px;
  font-size: 36px;
}
.w_dunkin .panel a h5 {
  padding: 18px 0;
  font-size: 18px;
}
.w_dunkin .panel a img {
  transition-duration: 0.7s;
}
.w_dunkin .panel a img:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 977px) {
  .w_dunkin .panel {
    width: calc(70% - 20px);
  }
}
.w_dunkin .flicking-pagination {
  height: 100px;
}
@media screen and (min-width: 977px) {
  .w_dunkin .flicking-pagination {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */